:root {
  --soft-black: hsla(210, 10%, 15%, 1);
  --dark-slate-gray: hsla(180, 25%, 25%, 1);
  --cambridge-blue: hsla(153, 40%, 66%, 1);
  --aquamarine: hsla(161, 100%, 78%, 0.7);
  --atomic-tangerine: hsla(20, 100%, 76%, 1);
  --burnt-salmon: hsla(12, 100%, 72%, 0.8);

  font-family: 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: var(--soft-black);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body * {
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f0f0f0;
  cursor: default;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

button {
  all: unset;
  display: inline-block;
  background-color: var(--cambridge-blue);
  color: var(--dark-slate-gray);
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  min-width: 70px;
}

button,
label {
  min-height: 55px;
}

button:active {
  background-color: var(--atomic-tangerine);
}

button:focus {
  background-color: var(--atomic-tangerine);
}

button:hover {
  background-color: var(--atomic-tangerine);
}

button:disabled {
  background-color: hsla(12, 100%, 72%, 0.4);
}

summary {
  text-align: center;
  cursor: default;
}

label {
  align-items: center;
  background-color: var(--soft-black);
  color: var(--aquamarine);
  display: flex;
  padding: 0.5rem;
  min-width: 80%;
}

label > span {
  min-width: 150px;
}

label > *:nth-child(2) {
  flex: 1;
}

a {
  color: var(--aquamarine);
}

a:hover {
  color: var(--atomic-tangerine);
}

[class^='container'] {
  align-items: center;
  padding: 0.3rem;
}

.container-advanced {
  min-width: 80%;
}

.container-content {
  background-color: var(--dark-slate-gray);
}

.container-get-listings {
  display: flex;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  background-color: darkslategrey;
}

.container-get-listings > label {
  flex: 4;
}

.container-get-listings > button {
  flex: 1;
}

.container-main > * {
  border: 1px solid var(--aquamarine);
  width: clamp(375px, 60%, 800px);
}

.container-site {
  animation: fadeIn 1s ease-out;
}

.container-site h3 {
  color: var(--burnt-salmon);
  font-size: 0.7rem;
}

.container-site ul {
  gap: 0.3rem;
}

.listings {
  background-color: var(--soft-black);
  gap: 1rem;
  min-width: 90%;
}

.spinner {
  display: none;
  color: var(--cambridge-blue);
  font-size: 1.8rem;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
  flex-direction: column;
}

a:visited {
  color: transparent;
}

@media (max-width: 900px) {
  :root {
    font-size: 0.7rem;
    line-height: 2;
  }

  button {
    padding: 0 5px;
    min-width: 50px;
  }

  label > span {
    min-width: 115px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
