.advanced-inputs {
  display: none;
  gap: 1rem;
}

.advanced-inputs > label  {
  display: flex;
}

.advanced-inputs > label > *:nth-child(1) {
  flex: 1;
}

.advanced-inputs > label > *:nth-child(2) {
  flex: 3;
}

.container-advanced > h3:hover {
  cursor: pointer;
}

.container-get-jobs {
  display: flex;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: darkslategrey;
  text-align: center;
  z-index: 1000;
}

.container-get-jobs > * {
  margin-right: 20px;
}

.container-get-jobs > label {
  display: flex;
}

.container-get-jobs > label > input {
  flex: 1;
}

.container-main {
  align-items: center;
}

.container-main * > {
  max-width: 375px;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spinner {
  display: none;
  font-size: 1.2rem;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
  flex-direction: column;
}

h3 {
  user-select: none;
}

a:visited {
  color: transparent;
}
